.testimonialSwiper .swiper-pagination {
  position: relative;
  margin-top: 40px;
}

.testimonialSwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #cbd5e1;
}

.testimonialSwiper .swiper-pagination-bullet-active {
  background: var(--primary);
}

.testimonial-filter {
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: #fff;
  color: var(--text-dark);
  font-weight: 500;
  transition: 0.3s ease;
}

.testimonial-filter:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.active-filter {
  background: var(--primary);
  color: #fff;
  border-color: var(--primary);
}
.active-filter:hover{
    color:var(--primary);
    background-color:#fff;
    border-color:var(--primary);
}
.testimonial-card {
  background: #fff;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 30px;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
}

.testimonial-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--primary);
  transform: scaleX(0);
  transition: 0.4s;
}

.testimonial-card:hover::before {
  transform: scaleX(1);
}

.testimonial-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.testimonial-top img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.testimonial-top h5 {
  margin-bottom: 4px;
}

.testimonial-top span {
  color: var(--text-light);
  font-size: 14px;
}

.testimonial-card p {
  color: var(--text-light);
  line-height: 1.8;
}

.form-input {
  width: 100%;
  height: 52px;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 0 16px;
  transition: 0.3s;
  outline: none;
}

textarea.form-input {
  height: auto;
  padding: 16px;
}

.form-input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 4px rgba(31, 78, 163, 0.08);
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-modal {
  animation: modalFadeIn 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}
